
/* Stargate image */
body{
    background-image: url(../images/stargate.jpg);
    background-size: cover;
    
}

/* font-family: 'Martel', serif; */


/* images for the characters */
img{
    width:120px;
    height:130px;
    border-radius: 10%;
    /* border so that the selected images can glow */
 }

/* active status to make the images glow when selected */
.glowing-choice{
        
            -webkit-box-shadow: 0 0 50px orange;
               -moz-box-shadow: 0 0 50px orange;
                    box-shadow: 0 0 50px orange;
        }

.glowing-enemy{
    -webkit-box-shadow: 0 0 50px blue;
    -moz-box-shadow: 0 0 50px blue;
         box-shadow: 0 0 50px blue;
}

/* Text for the names of the characters */
.text-normal{
    font-family: 'Martel', serif;
    color:white;
    font-size:15px;
    width:40%;
    margin-left:10px;
    
}

.instructions{
    font-family: 'Martel', serif;
    color:white;
    font-size:50px;

}

/* the box holding the stat information on the stat cards */
.stats{
    font-family: 'Martel', serif;
    color:rgb(255, 255, 255);
    font-size:12px;
    width: 30%;
    
}
/* The headings for the stats */
.statHeading{
    font-size:15px;
}
/* The box holding the entire stat card including the stats and the picture */
.stat-card{
    background-color:rgba(0,0,0,.8); 
    border: 5px solid gold;
    border-radius:15%;  
    margin:5px;
   
}

/* area where fighting occurs */
.arena{
    margin-top: 200px;
}

/* when player and enemy are brought to the middle to fight, this appears */
.arena-active{
    background-color:rgba(0,0,0,.9);
    padding:50px;
    border-radius:10%;
    border: 5px solid gold;

}

/* //centering attack button using flex box */
#attack-button{
    display:flex;
    justify-content: center;
    width:100%;
}

.beginning-stats{
    width:100%;
}

#enemy-HP{
    background-color:red;
}

#enemy-special{
    background-color:purple;    
}

#enemySpecialCounter{
    background-color: blue;    
}

#playerSpecialCounter{
    background-color:pink;    
}

#player-special{
    background-color:yellow;    
}

#player-HP{
    background-color:green;    
}





